body, 
select, 
input, 
button, 
textarea {
  font: {
    family: 'Source Code Pro', monospace !important;
    size: 0.8rem;
  }
}
nav {
  .offcanvas {
    &.bg-dark {
      button {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}
main {
  &.no-back {
    button {
      &.back {
        display: none;
      }
    }
  }
  button {
    &.back {
      margin: {
        top: 3rem;
      }
    }
  }
}

